<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"></link>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="responsivity.css">
    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
        }

        :root {
            --mainBlue: #0090c4;
            --zebraLightGray: #f6f4f5;
            --darkGrayIcon: #717171;
        }

        .blue-font {
            color: var(--mainBlue);
        }
    </style>
</head>

<body>
    <header style="
                    background-color: var(--zebraLightGray);
                    display: flex;
                    flex-grow: 1;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;">
        <img src="./img/logo_senai_main.svg" alt="SENAI logo"  style="width: 50%"/>
        <h2 style="font-style: italic;
                    font-weight: normal;
                    margin-bottom: 10px;
                    font-size: 1.5rem;">Intra127</h2>
    </header>
    <main style="display: flex;
                flex-direction: column;
                flex-grow: 2;
                align-items: center;
                background-color: white;
                margin: 20px;
                padding: 50px;">
        <img src="./img/check.svg" alt="Check icon" style="margin-top: 20px;
                                                            width: 17%;" />
        <h1 style="font-size: 2rem;
                    margin-bottom: 20px;
                    font-weight: 600;">Seu link chegou!</h1>
        <p>Olá, <span class="blue-font" style="font-weight: 400;
                                                font-size: 1.4rem;
                                                text-align: center;
                                                margin-bottom: 20px;">{{firstName}}</span>! Você nos contatou para redefinir sua senha, clique no botão para definir uma nova senha ao seu usuário.</p>
        <a href="{{linkToFollow}}" style="width: 50%;
                                            min-width: 200px;
                                            height: 45px;
                                            font-size: 1.2rem;
                                            background-color: var(--mainBlue);
                                            color: white;
                                            border: none;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;">
                    Alterar senha
                </a>
    </main>
</body>

</html>